@using BlazorApp.Shared.Models
@using System.Text.Json
@inject HttpClient Http
@inject NotificationService Notice

@if (Book == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <Form Model="@Book" OnFinish="Update" LabelColSpan="4" WrapperColSpan="20">
        <FormItem Label="ID">
            @context.BookId
        </FormItem>
        <FormItem Label="Title">
            <Input @bind-Value="@context.Title" />
        </FormItem>
        <FormItem Label="Author">
            <Input @bind-Value="@context.Author" />
        </FormItem>
        <FormItem WrapperColSpan="24" Style="text-align: center">
            <Button Type="primary" HtmlType="submit">Update</Button>
        </FormItem>
    </Form>
}

@code {
    [Parameter]
    public Book? Book { get; set; }

    [Parameter]
    public EventCallback Callback { get; set; }

    private async Task Update()
    {
        await Http.PutAsJsonAsync("api/books", Book);

        await Callback.InvokeAsync();
        await Notice.Open(new NotificationConfig()
        {
            Message = "更新しました！"
        });
    }
}